In [12]:
import numpy as np
import pandas as pd
import matplotlib. pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn. feature_extraction. text import CountVectorizer

In [13]:
# data analise :
# بارگذاری داده‌ها
org_df = pd.read_excel("online_retail_II.xlsx")

df = org_df[["StockCode", "Description", "Quantity", "Country"]].copy()

# جایگزینی فاصله با زیرخط
df["Description"] = df["Description"].str.replace(" ", "_")

# حذف ردیف‌های دارای مقدار تهی
df = df.dropna(subset=["Description"])

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [83]:
# machine learning

# ساخت بردار با CountVectorizer
vectorizer = CountVectorizer()
vector = vectorizer.fit_transform(df["Description"])

#  شباهت  بین تمام آیتم‌ها
similarities = cosine_similarity(vector)

# گرفتن ورودی از کاربر
mb = input("Enter title: ").replace(" ", "_")

# پیدا کردن ایندکس مورد نظر کاربر
try:
    m_index = df.index[df["Description"] == mb][0]
except IndexError:
    print("Title not found!")
    exit()

# مرتب سازی ایندکس‌ها بر اساس شباهت
similar_m = list(np.argsort(similarities[m_index])[::-1])


n_recommendation = 3
recommended_index = similar_m[1:n_recommendation+1]

# نمایش عناوین مشابه
print(df.iloc[recommended_index][["Description"]])